<!DOCTYPE html>
<html>
<head>
	<!-- Standard Meta -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<!-- Site Properities -->
	<title>Biobrick Blast</title>

	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700">
	<link rel="stylesheet" type="text/css" href="/static/css/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/biobrickBlast.css"></head>
<body>
	<div class="container">
		<h1 class="ui header">
			<img src="/static/images/logo.png">
			Biobrick Blast
			<button class="ui tiny blue button fr" id="btn-userGuide">user guide</button>
		</h1>

		<div class="userPanel ui form">

			<div class="paramPanel">
				<p class="introduction">
					&nbsp &nbsp &nbsp &nbsp Have trouble finding biobricks containing or related to a known sequence? Biobrick Blast Online can certainly help you!
					<br/>
					&nbsp &nbsp &nbsp &nbsp Made by SYSU-Software and SYSU-China, Biobrick Blast Online is an online Biobrick alignment and search toolkit. Enter only your sequence, and you will soon get all Biobricks that contain or are related to your sequence, as well as the overall information on those Biobricks.
					<br/>
					&nbsp &nbsp &nbsp &nbsp This toolkit not only contains the latest complete iGEM part registry data but also helps you search Biobricks in 2013 or 2014 iGEM DNA Distribution. So move on and have a try!
					<br/>
					&nbsp &nbsp &nbsp &nbsp If you need any help or have any suggestion, please don’t hesitate to contact us!
				</p>

			</div>

			<div class="inputSequences">
				<form id="userInput" action='/query' onsubmit="return false;" enctype="application/x-www-form-urlencoded">
					<input type="hidden" name="program" value="blastn"/>
					<input type="hidden" name="outfmt" value="7" />
					<div class="form-control">
						<label>E-Value</label>
						<div class="ui selection dropdown">
							<input cached="evalue" type="hidden" name="evalue" value="10"/>
							<div class="default text">10</div> <i class="dropdown icon"></i>
							<div class="menu ui transition hidden">
								<div class="item" data-value="1000">1000</div>
								<div class="item" data-value="100">100</div>
								<div class="item" data-value="10">10</div>
								<div class="item" data-value="1">1</div>
								<div class="item" data-value="0.1">0.1</div>
								<div class="item" data-value="0.001">0.001</div>
								<div class="item" data-value="0.0001">0.0001</div>
								<div class="item" data-value="0.00001">0.00001</div>
								<div class="item" data-value="0.000001">0.000001</div>
							</div>
						</div>
					</div>

					<div class="form-control">
						<label>Database</label>
						<div class="ui selection dropdown">
							<input cached="database" type="hidden" name="database" value="2013_Distribution"/>
							<div class="default text">2013_Distribution</div> <i class="dropdown icon"></i>
							<div class="menu ui transition hidden">
								<div class="item" data-value="2013_Distribution">2013_Distribution</div>
								<div class="item" data-value="2014_Distribution">2014_Distribution</div>
								<div class="item" data-value="All_Parts_in_Catalog">All_Parts_in_Catalog</div>
								<div class="item" data-value="In_Stock">In_Stock</div>
								<div class="item" data-value="In_Stock_or_Pending">In_Stock_or_Pending</div>
								<div class="item" data-value="Pending">Pending</div>
							</div>
						</div>
					</div>
					<div id="inputTextarea">
						<label>
							Input Sequences
							<span class="description">(sequence or fasta file)</span>
							:
							<button class="ui mini button" id="btn-inputExample">Input Example</button>
						</label>
						<textarea name="input" id="inputText"></textarea>
					</div>
					<div id="inputFile">
						<label>
							Input File :
							<span id="fileName"></span>
							<br/>
							<span class="description">(sequence or fasta file)</span>
						</label>

						<a class="btn_addPic" href="javascript:void(0);">
							<span> <em>+</em>
								select file
							</span>
							<input class="filePrew" title="支持txt、csv格式，文件小于5M" tabIndex="3" type="file" size=3 name="input" value=""/>
						</a>

					</div>
					<button class="ui blue button" id="btn-query">Submit</button>
					<button class="ui button" id="btn-clean">Clean</button>
				</form>
			</div>

		</div>
		<div class="ui horizontal divider">
			<i class="lab icon"></i>
		</div>
		<form class="ui form" id="taskQuery">
			<input type="text" name="task-id" placeholder="Task_ID"/>
			<button class="ui blue labeled icon button">
				<i class="add icon"></i>
				add
			</button>
		</form>

		<table class="ui table segment">
			<thead>
				<tr>
					<th id="table_task_id">Task_ID</th>
					<th id="table_statu">Status</th>
					<th>Result</th>
					<th id="table_output_file">Output File</th>
				</tr>
			</thead>
			<tbody id="resultTbody"></tbody>
		</table>
	</div>
	<div class="footer">
		<div class="container">
			Copyright © 2014
			<a href="http://2013.igem.org/Team:SYSU-Software">SYSU-Software</a>
			&
			<a href="http://2013.igem.org/Team:SYSU-China">SYSU-China</a>
			. All Rights Reserved
			<br/>
			Sun Yat-Sen University, Guangzhou, China
			<br/>
			Email：sysusoftware@126.com
		</div>
	</div>
	<div class="ui large modal" id="tableModal">
		<i class="close icon"></i>
		<div class="header"></div>
		<div class="content" >
			<div id="scrollDiv">				
				<table class="ui celled table" id="originTable">
				</table>
				<table class="ui celled table" id="cloneTable">
				</table>
			</div>
		</div>
	</div>
	<div class="ui large modal" id="textModal">
		<i class="close icon"></i>
		<div class="header"></div>
		<div class="content" >
			<form class="ui form">
				<textarea disabled></textarea>
			</form>
		</div>
	</div>
	<div class="ui modal" id="userGuideModal">
		<i class="close icon"></i>
		<div class="btn-arrow left">
			<i class="angle left icon"></i>
		</div>
		<div class="btn-arrow right">
			<i class="angle right icon"></i>
		</div>
		<div class="content">
		</div>
		<div class="circleTab">
		</div>
		<button class="ui mini blue button">中文</button>
	</div>
	<iframe src="/static/data_file/input_example.txt" id="inputExample-txt"></iframe>
	<script src="/static/javascript/jquery-2.0.3.min.js"></script>
	<script src="/static/javascript/semantic.min.js"></script>
	<script src="/static/javascript/biobrickBlast.js"></script>
</body>
</html>